# At loopline
{{ object }}.split.each{% if vars | length > 1 %}_slice({{ vars | length }}){% endif %} do |{{ vars | map(attribute="name") | join(sep=", ") }}|
{%- for var in vars -%}
{%- if var.var_type != "Word" %}
  {{var.name}} = {{var.name}}.{{type_tokens[var.var_type]-}}
{% endif -%}
{%- endfor %}
end
