{% if debug_mode -%}
---- 🇷 EAD_ONE: {{ var.var_type }}
{% endif %}

{%- if var.var_type == "String" -%}
  {% set method = ".chomp" %}
{%- elif var.var_type == "Word" -%}
  {% set method = "" %}
{%- else -%}
  {% set method = "." ~ type_tokens[var.var_type] %}
{%- endif -%}

{{ var.name }} = gets{{ method }}{% if comment %} # {{ comment.description }}{% endif %}
