{% for cmt in comments -%}
# {{ cmt.variable }}: {{cmt.description}}
{% endfor -%}

{{- vars | map(attribute="name") | join(sep=", ") }} = gets.split

{%- if single_type -%}

  {%- if single_type != "Word" -%}
    .map(&:{{ type_tokens[single_type] }})
  {%- endif -%}

{% else %}

  {%- for var in vars -%}
    {%- if var.var_type != "Word" %}
{{var.name}} = {{var.name}}.{{ type_tokens[var.var_type] }}
    {%- endif -%}
  {%- endfor -%}

{% endif %}
