{%- for cmt in comments -%}
# {{ cmt.variable }}: {{cmt.description}}
{% endfor -%}

{{- vars | map(attribute="name") | join(sep=", ") }} = gets.split
{%- if vars | unique(attribute="var_type") | length == 1 -%}
  {%- set var = vars | first -%}
  {%- if var.var_type != "Word" -%}
.map(&:{{ type_tokens[var.type_token_key] }})
  {%- endif -%}
{% else %}
  {%- for var in vars -%}
    {%- if var.var_type != "String" and var.var_type != "Word" %}
{{var.name}} = {{var.name}}.{{ type_tokens[var.type_token_key] }}
    {%- endif -%}
  {%- endfor -%}
{% endif %}
