{%- if debug_mode -%}
---- 🇼 RITE_JOIN
{% endif -%}

puts "
{%- for term in terms -%}
  {%- if term.is_variable -%}
    {{- '#{' }}{{ term.ident }}{{ '}' -}}
  {%- else -%}
    {{- term.ident -}}
  {%- endif -%}
  {% if loop.last == false %} {% endif %}
{%- endfor -%}"
