{%- set type_kw = type_tokens[var_type] -%}
{%- if var_type == "String" or var_type == "Word" -%}
  {%- set len = [max_length ~ " + 1"] -%}
  {%- set ref = "" -%}
{%- else -%}
  {%- set len = "" -%}
  {%- set ref = "&" -%}
{%- endif -%}

{%- if input_comment %}
// {{ input_comment }}
{% endif -%}
{{ type_kw }} {{ ident }}{{ len }};
