{%- if debug_mode -%}
---- 🇱 OOPLINE
{% endif -%}

for (int i = 0; i < {{ count_var }}; i++) {
{%- for var in vars %}
    {%- set sym = format_symbols[var.var_type] -%}
    {%- set type_kw = type_tokens[var.var_type] -%}
    {%- if var.var_type == "String" or var.var_type == "Word" -%}
        {% set len = [var.max_length ~ " + 1"] %}
    {%- else -%}
        {% set len = "" %}
    {%- endif %}
    {{ type_kw }} {{ var.name }}{{ len }};
    scanf("{{ sym }}", {{ var.name }});
{%- endfor %}
}
