#include <stdlib.h>
#include <stdio.h>
#include <string.h>
#include <stdbool.h>
{% for line in statement %}
// {{ line }}
{%- endfor %}

int main() {
    {%- for line in code_lines %}
    {{ line }}
    {%- endfor %}

    return 0;
}