#include <stdlib.h>
#include <stdio.h>
#include <string.h>
#include <stdbool.h>
{% if debug_mode %}
# MAIN
{% endif -%}
{% if debug_mode -%}
# STATEMENT
{% endif -%}

{%- for line in statement %}
# {{ line }}
{%- endfor %}
int main() {
    {%- for line in code_lines %}
    {{ line }}
    {%- endfor %}

    return 0;
}