#include <stdlib.h>
#include <stdio.h>
#include <string.h>
#include <stdbool.h>

{%- for line in forward_declarations %}
{{ line }}
{%- endfor %}

int main() {
    {%- for line in main_contents %}
    {{ line }}
    {%- endfor %}

    return 0;
}
