{# Setup of types (%d, %s etc.) and variable references (& or "") inside the scanf function #}
{%- set_global types = "" -%}
{%- set_global var_refs = [] -%}
{%- for var in vars -%}
  {%- if var.var_type == "String" or var.var_type == "Word" -%}
    {%- set ref = "" -%}
  {%- else -%}
    {%- set ref = "&" -%}
  {%- endif -%}
  {%- set var_ref = ref ~ var.ident -%}  
  {%- set_global var_refs = var_refs | concat(with=var_ref) -%}
  {%- set_global types = types ~ format_symbols[var.var_type] -%}
{%- endfor -%}


scanf("{{ types }}", {{ var_refs | join(sep=", ") }});
