{%- set sym = format_symbols[var.var_type] -%}
{%- if var.var_type == "String" or var.var_type == "Word" -%}
  {%- set ref = "" -%}
{%- else -%}
  {%- set ref = "&" -%}
{%- endif -%}

scanf("{{ sym }}", {{ ref }}{{ var.ident }});
