{%- if debug_mode -%}
---- 🇷 EAD_MANY
{%- if single_type -%} 
  (SINGLE_TYPE)
{% else -%}
  (MULTIPLE_TYPE)
{% endif -%}
{% endif -%}

{% for cmt in comments -%}
// {{ cmt.variable }}: {{cmt.description}}
{% endfor -%}

{# Setup of types (%d, %s etc.) and variable references (& or "") inside the scanf function #}
{%- set_global types = "" -%}
{%- set_global var_refs = [] -%}
{%- for var in vars -%}
  {%- if var.var_type == "String" or var.var_type == "Word" -%}
    {%- set ref = "" -%}
  {%- else -%}
    {%- set ref = "&" -%}
  {%- endif -%}
  {%- set var_ref = ref ~ var.name -%}  
  {%- set_global var_refs = var_refs | concat(with=var_ref) -%}
  {%- set_global types = types ~ format_symbols[var.var_type] -%}
{%- endfor -%}

{%- if single_type -%}

{%- set_global type = vars[0].var_type -%}
{{ type_tokens[type] }} {{ vars | map(attribute="name") | join(sep=", ") }};
scanf("{{ types }}", {{ var_refs | join(sep=", ") }});

{%- else %}

{%- for var in vars -%}
{%- if var.var_type == "String" or var.var_type == "Word" -%}
  {%- set len = [var.max_length ~ " + 1"] -%}
{%- else -%}
  {%- set len = "" -%}
{%- endif -%}
{{ type_tokens[var.var_type] }} {{ var.name }}{{ len }};
{% endfor -%}
scanf("{{ types }}", {{ var_refs | join(sep=", ") }});

{%- endif %}
