{#
    This only deals with WriteJoin with literals at the moment.
#}

{%- if debug_mode -%}
---- 🇼 RITE_JOIN
{% endif -%}

{%- set_global joined_terms = [] -%}
{%- for term in terms -%}
  {%- if term.term_type == "Variable"%}
    {%- set ref = "TODO" -%}
  {%- else -%}
    {%- set ref = term.name -%}
  {%- endif -%}
  {%- set_global joined_terms = joined_terms | concat(with=ref) -%}
{%- endfor -%}
{%- set fmt_joined_terms = joined_terms | join(sep=" ") -%}

printf("{{ fmt_joined_terms }}");
