{% if debug_mode %}
---- 🇲 AIN
{% endif -%}
{% if debug_mode -%}
---- 🇸 TATEMENT
{% endif -%}

{%- for line in statement -%}
# {{ line }}
{% endfor %}
{%- for line in code_lines %}
{{ line }}
{%- endfor %}