{%- if debug_mode -%}
---- 🇼 RITE_JOIN
{% endif -%}

{%- set_global out = "" -%}
{%- for term in terms -%}
  {%- if term.term_type == "Variable" -%}
    {%- set_global out = out ~ "str(" ~ term.name ~ ")" -%}
  {%- else -%}
    {%- set_global out = out ~ '"' ~ term.name ~ '"' -%}
  {%- endif -%}
  {%- if loop.last == false %}
    {%- set_global out = out ~ ' + " " + ' -%}
  {% endif %}
{%- endfor -%}

{%- for line in output_comments %}
# {{ line }}
{%- endfor -%}
print({{ out | replace(from='" + "', to="") }})
